
<div class="modal fade" id="participant-modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content shadow">
          <div class="modal-header">
              <h5 class="modal-title">Change Message</h5>
              <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body bg-image" style="background-image: url()">
              <form id="inputs" class="needs-validation" novalidate="">
                  <div class="form-group">
                      <label for="participant-message-text" class="col-form-label">Message:</label>
                      <textarea class="form-control" id="participant-message-text"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer justify text-14">
              <button id="submit-participant-message" type="submit" class="btn btn-primary" data-toggle="modal"
                  data-target="#participant-modalForm">Submit</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="participant-name-modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content shadow">
          <div class="modal-header">
              <h5 class="modal-title">Edit Participant Name</h5>
              <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body bg-image" style="background-image: url()">
              <form id="inputs" class="needs-validation" novalidate="">
                  <div class="form-group">
                      <label for="participant-name-text" class="col-form-label">Participant Name:</label>
                      <textarea class="form-control" id="participant-name-text"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer justify text-14">
              <button id="submit-participant-name" type="submit" class="btn btn-primary" data-toggle="modal"
                  data-target="#participant-name-modalForm">Submit</button>
          </div>
      </div>
  </div>
</div>

<div class="dropdown-menu" id="sequence-menu">
  <li><a class="dropdown-item" href="#" id="addMessage">Add Message</a></li>
</div>

<div class="dropdown-menu" id="participant-menu">
  <li><a class="dropdown-item" href="#" id="addParticipantLeft"><span style="display:inline-block;transform:scaleX(-1)">&#10132;</span> Add Participant</a></li>
  <li><a class="dropdown-item" href="#" id="addParticipantRight">Add Participant &#10132;</a></li>
  <li><a class="dropdown-item" href="#" id="renameParticipant">Rename Participant</a></li>
  <li><hr class="dropdown-divider"></li>
  <li><a class="dropdown-item" href="#" id="deleteParticipant">Delete Participant</a></li>
</div>
